@import "tailwindcss";

@theme inline {
  --font-headline: var(--font-plus-jakarta);
  --font-body: var(--font-inter);

  --color-surface: #0b1326;
  --color-surface-dim: #0b1326;
  --color-surface-bright: #31394d;
  --color-surface-container-lowest: #060e20;
  --color-surface-container-low: #131b2e;
  --color-surface-container: #171f33;
  --color-surface-container-high: #222a3d;
  --color-surface-container-highest: #2d3449;
  --color-surface-variant: #2d3449;

  --color-primary: #9ee939;
  --color-primary-container: #84cc16;
  --color-primary-fixed: #acf847;
  --color-on-primary: #1f3700;
  --color-on-primary-container: #315200;

  --color-secondary: #adc6ff;
  --color-secondary-container: #0566d9;
  --color-on-secondary: #002e6a;

  --color-tertiary: #ffcb8d;
  --color-tertiary-container: #fea518;

  --color-on-surface: #dae2fd;
  --color-on-surface-variant: #c1cab0;
  --color-on-background: #dae2fd;

  --color-outline: #8b947d;
  --color-outline-variant: #424936;

  --color-error: #ffb4ab;
  --color-error-container: #93000a;

  --color-inverse-surface: #dae2fd;
  --color-inverse-primary: #416900;
}

html {
  scroll-padding-top: 5rem;
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-body);
}

.glass-nav {
  background: rgba(11, 19, 38, 0.6);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.geometric-bg {
  background-image: radial-gradient(circle at 2px 2px, rgba(145, 219, 42, 0.05) 1px, transparent 0);
  background-size: 32px 32px;
}
